.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #2b872b;
  background-color: #e5f0e5 !important;
  border: none !important;
}

.ant-layout-sider-zero-width-trigger {
  background-color: #2b872b !important;
}

.ant-menu-item-selected,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #2b872b !important;
}

.ant-menu-item:hover {
  color: #2b872b !important;
}

.ant-menu-item a:hover {
  color: #2b872b !important;
}

.ant-menu-inline .ant-menu-item:after,
.ant-menu-vertical-left .ant-menu-item:after,
.ant-menu-vertical-right .ant-menu-item:after,
.ant-menu-vertical .ant-menu-item:after {
  border-right: 4px solid #2b872b !important;
}

.ant-menu-item-selected,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #2b872b!important;
}

.ant-pagination-item:hover {
  border-color: #2b872b!important;
}

.ant-pagination-item a {
  color: #2b872b!important;
}

.ant-pagination-item a:hover {
  color: #2b872b!important;
}

.ant-pagination-item-active:hover {
  border-color: #2b872b!important;
}

.ant-pagination-item-active {
  border-color: #2b872b!important;
}

.ant-pagination-item {
  border-color: #2b872b!important;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #2b872b!important;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}