.planningWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
}
.expenseTracker{
  background-image: linearGradient (60deg, green, red);
  color: transparent;
  background-clip: text;

}
.section1{
  text-align: center;
  width: 97%!important;
  background-color: white!important;
  border-radius: 5px!important;
  box-shadow: 5px 5px 10px 5px #3333!important;
  align-items: center;
}
.dashboard{
  border: 1px solid;
  border-right: none;
  border-left: none;
  align-items: center;
  margin: 1rem auto;
  display: flex;
  align-items: center;
 justify-content: center;
 height: 100px;
 width: 30%;
}
.income{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-right: 1px solid;
  padding-right: 2rem;
  margin-right:2rem ;
}

.container{
  display: flex;
  align-items: center;
  margin-top: 25px;
  width: 100%!important;
  height: 50vh;
  max-height: 50vh;
  background-color: inherit;
  justify-content: space-around;
}
.AddTransaction{
  background-color: #3333;
  width: 46%;
  justify-content: center;
  display: flex;
  border-radius: 15px;
  align-items: center;
  height: 100%;
  background-color: white!important;
  border-radius: 5px!important;
  box-shadow: 5px 5px 10px 5px #3333!important;
}
.transaction{
  width: 80%;
}
@media only screen and (max-width: 600px) {
  .transaction h2{
    font-size: large;
  }
  .container{
    display: block;
    width: 100%!important;
    min-height: 50vh;
    background-color: inherit;

  }.AddTransaction{
    background-color: #3333;
    width: 95%!important;
    margin: 10px auto;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    align-items: center;
    height: 100%;
    background-color: white!important;
    border-radius: 5px!important;
    box-shadow: 5px 5px 10px 5px #3333!important;
  }
}
.history{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  height: 90%;
  border: solid;
  border-image: linear-gradient(to right, green, rgb(255, 130, 130)) 0.5;
  overflow-y: scroll;
}
.history::-webkit-scrollbar{
  width: 7px;
  box-shadow: inset 0 0 2px green;
}
.history::-webkit-scrollbar-thumb{
  background: green;
}
.historyHeader{
  background-color: #ffffff;
}
.form{
  display: flex;
  flex-direction: column;
}
input{
  margin-bottom: 15px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(240, 130, 130), green) 1;
  padding: 10px;
}
ol{
  text-align: left;
}
.incomeRadio input:checked ~{
  background-color: green;
}
button{
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid white;
  background-color: green!important;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgb(74, 143, 74)
}
